<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3>Book List</h3>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary float-end" routerLink="addBook">Add Book</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">BookId</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">View Book</th>
          <th scope="col">Update Book</th>
          <th scope="col">Delete Book</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.category}}</td>
          <td>{{book.description}}</td>
          <td><button type="button" class="btn btn-outline-primary" routerLink="viewBook/{{book.id}}">View</button></td>
          <td><button type="button" class="btn btn-outline-primary" routerLink="editBook/{{book.id}}">Update</button></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="deleteBook(book.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
